name: CI

on:
  push:
    branches: [ "**" ]

permissions:
  contents: read
  id-token: write    # required for Workload Identity Federation

jobs:
  build-test-terraform:
    runs-on: ubuntu-latest

    steps:
      # ------------------------
      # Checkout code
      # ------------------------
      - name: Checkout
        uses: actions/checkout@v4

      # ------------------------
      # Node.js section
      # ------------------------
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint (optional)
        run: npm run lint --if-present

      - name: Build
        run: npm run build --if-present

      # ------------------------
      # Authenticate to GCP using Workload Identity Federation (WIF)
      # ------------------------
      - name: Authenticate to GCP (WIF)
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          export_default_credentials: true

      # ------------------------
      # Setup gcloud
      # ------------------------

      - name: Set GCP Project
        run: |
         gcloud --quiet auth activate-service-account --key-file=${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
         gcloud --quiet config set project curamet-onboarding


      # ------------------------
      # Terraform section
      # ------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform Init & Plan
        working-directory: terraform
        run: |
          terraform init -backend-config="environments/dev/backend.conf"
          terraform plan -var-file="environments/dev/terraform.tfvars" -input=false -no-color
