name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  build-test-terraform:
    runs-on: ubuntu-latest

    steps:
      # ------------------------
      # Checkout code
      # ------------------------
      - name: Checkout
        uses: actions/checkout@v4

      # ------------------------
      # Node.js section
      # ------------------------
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint (optional)
        run: npm run lint --if-present

      - name: Build
        run: npm run build --if-present

      # ------------------------
      # Terraform section
      # ------------------------

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform Init & Plan
        working-directory: terraform
        run: |
          terraform init -backend-config="environments/dev/backend.conf"
          terraform plan -var-file="environments/dev/terraform.tfvars"
      


